/
/.*
/*.dist
/*.build
/*.egg-info
/*.ps1
# But not these files...
!.gitignore
!/*.py
!/*.yaml
!/*.yml
!/readme.md
!/CITATION.bib
!/requirements.txt
!/pyproject.toml
# Ignore /models/ files that start with yolo and end with .pt
!/models/
/models/yolo*.pt
nuitka.log
nuitka-err.log
log.txt

